html {
    font-family: "Tangerine", serif;
    text-align: center;
}

.navbar {
    font-family: 'Tangerine', serif;
    font-size: 18px;
    text-shadow: 4px 4px 4px #aaa;
    bottom: 0;
    right: 0;
    width: 100%;
    color: black;
    text-align: center;
}



body {
    background-image: url("/img/blackboard.jpg");
    max-width: 100%;
}



input {
    padding-top: 30px;
    width: 700px;
    height: 150px;
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    color: black;
    background-color: lightblue;
    border: 0;
    text-align: center;
}

    input:focus {
        outline: none;
    }

#task {
    border: 3px solid black;
    border-radius: 10px 10px 10px 10px;
    font-size: 30px;
}

#add {
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    max-width: 100px;
}

li {
    text-align: block;
    font-size: 30px;
    list-style: none;
    margin: 0;
}


.footer {
    border: 2px solid;
    position:fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color:lightblue;
    color: black;
    text-align:center;
}

.remove {
    padding: 10px;
}

#todos {
    display: block;
    padding-right: 10px;
}

#remove {
    margin-left: 10px;
}